[Unit]
Description=Twitch Chatbot
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory=/home/ec2-user/ProjectSocrates/scripts
ExecStart=/home/ec2-user/ProjectSocrates/ProjectSocrates/bin/python /home/ec2-user/ProjectSocrates/scripts/bot_server.py --serve-in-foreground

[Install]
WantedBy=multi-user.target
