{
	"YOUTUBE_DEVELOPER_KEY": "UPDATE_ME",
	"YOUTUBE_API_SERVICE_NAME": "youtube",
	"YOUTUBE_API_VERSION": "v3",
	"TWITCH_HOST": "irc.twitch.tv",
	"TWITCH_PORT": 6667,
	"TWITCH_NICK": "UPDATE_ME",
	"TWITCH_OAUTH": "UPDATE_MEs",
	"TWITCH_CHAN": "UPDATE_ME",
	"TWITCH_RATE": 20,
	"PAYPAL_CLIENT_ID": "AUPDATE_ME",
	"PAYPAL_SECRET": "UPDATE_ME",
	"PAYPAL_OAUTH": "UPDATE_ME"
}